body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #111;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}
li{
  text-align: left;
}

#main-menu, #game-over {
  text-align: center;
  background: rgba(74, 74, 74, 0.7);
  padding: 30px;
  border-radius: 15px;
}

#main-menu h1, #game-over h2 {
  margin-top: 0;
  color: #ffffff;
}

#main-menu p {
  margin: 20px 0;
  line-height: 1.6;
}

button {
  padding: 12px 24px;
  font-size: 20px;
  background-color: #d4d478;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

button:hover {
  background-color: #e1e167;
  font-size: 25px;
  transition: 0.5s;
}

#game-container {
  position: relative;
}

#score {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 30px;
  color: white;
  z-index: 10;
}

#gameCanvas {
  border: 2px solid #333;
  background-size: cover;
  background-color: grey;
}